<tr>
  <td>
    <%= sale.id %>
  </td>
  <td>
    <%= sale.starts_on %>
  </td>
  <td>
    <%= sale.ends_on %>
  </td>
  <td>
    <% if sale.ends_on < Date.current %>
    <span class="badge bg-danger">Finished</span>
    <% elsif sale.starts_on > Date.current %>
    <span class="badge bg-warning">Upcoming</span>
    <% else %>
    <span class="badge bg-success">Active</span>
    <% end %>
  </td>
  <td>
    <%= sale.percent_off %>
  </td>

</tr>